* {
    box-sizing: border-box;
    margin: 0;
    font-family: Moranga-regular;
}

html {
    background-color: rgba(249, 255, 248, 0.69);
}

@font-face {
    font-family: "Moranga-regular";
    src: url("../../public/moranga-regular.otf") format("opentype")
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    padding: 0px 30px;
    margin-top: 100px;
}

.wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 150px;
}


.header-container {
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper button {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #a3c4b1;
    color:white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-wrapper button:hover {
    background-color: #34a955;
    transition: background-color 0.2s ease-in-out;

}

.list-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;

}

.card-wrapper {
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.icons {
    background-color: #dedede;
    display: flex;
    padding: 5px;
    border-radius: 5px;
}

.icons img {
    width: 15px;
    cursor: pointer;
}

